framework: net9.0

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 9.0
nuget FSharp.Data ~> 6.0
nuget Microsoft.Extensions.Logging ~> 9.0
nuget System.IdentityModel.Tokens.Jwt ~> 8.6
nuget Portable.BouncyCastle ~> 1.9

nuget JsonWebToken ~> 1.9
# defined in JsonWebToken https://github.com/uruk-project/Jwt/blob/v1.9.3/src/JsonWebToken/JsonWebToken.csproj#L77
nuget gfoidl.Base64 ~> 1.1.1

nuget Alma.Authorization.Common ~> 6.0
nuget Alma.ServiceIdentification ~> 10.1
nuget Feather.ErrorHandling ~> 1.0
nuget Feather.Cryptography ~> 1.0

nuget Expecto
nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
